.outfit_items_columns {
    display: grid;
    grid-template-rows: repeat(3);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
    margin: 25px;
}

.viewOutfitPageImage {
  width:100%;
  max-width:450px;      
  height: auto;
  margin-top: 8px;
  border-radius: 5px;
}
  