.outfitNode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .outfitCardImage {
    width: 100%; /* fill card horizontally */
    height: 500px; /* set fixed height */
    object-fit: cover; /* crop to fit the container without stretching */
    border-radius: 5px;
  }