.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f3f5;
  color: #32292F;
}

.container h2,
.container p,
.container h4,
.container form {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  max-width: 400px;
}

.input-text {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.input-text:focus {
  border-color: #473BF0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #473BF0;
  color: #f5f3f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.login-button:hover {
  background-color: #473BF0;
}

.login-button:active {
  background-color: #003f7f;
}

.labels {
  margin-right: 10px;
  flex: 1; 
  text-align: left; 
  font-weight: bold;
}

.profileLabel {
  margin-right: 10px;
  flex: 1; 
  text-align: center; 
  font-weight: bold;
}

.error-alert {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 50%;
}

.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
  gap: 1rem;
}

.profile-photo-grid {
  display: flex;
  justify-content: center; 
  flex-wrap: nowrap; 
  gap: 10px;
  margin-bottom: 20px; 
}

.profile-photo {
  width: 80px; 
  height: 80px; 
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent; 
  border-radius: 10px; 
}

.profile-photo:hover {
  border-color: #007bff;
}

.profile-photo.selected {
  border-color: #007bff;
}

